.top-bottom-buffer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-image, .thumb-image {
  & {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img {
    max-width: 100%;
  }
}
.thumb-image {
  img {
    cursor: pointer;
  }
}
